.btn-success{
    align:right;
    float:right;
}

body {
    position: relative;

}
#p0, #p1, #p2 {
    height: auto ;
    padding-top: 20%;
    margin-bottom: auto;
}

.head{
    color:blue;
}

img{
    width:800px;
    height:auto;
}

.home{
    padding-top: 50px;
}

.login-header, .login p {
    margin-top:0; 
    margin-bottom:0;
}

.login-triangle {
    width: 0;
    margin-left: auto;
    margin-right: auto;
   border: 12px solid transparent;
   border-bottom-color: #28d;
}

.login-header{
    background: #28d;
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color:#fff;
}

.login-container{
    background: #252525;
    padding: 12px; 
}

.login p {
    padding: 12px;
}

.login input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
}

.login input["text"],
.login input["password"]{
    background: #fff;
    border-color: #bbb;
    color:#555;
    cursor: text;
    
}

.login input["text"]:focus,
.login input["password"]:focus{
    border-color: #888;
    
}

.login input["submit"]{
    background: #28d;
    border-color: transparent;
    color:#fff;
    cursor: pointer; 
}

.login input["submit"]:hover{
    background: #17c; 
}

.login input["submit"]:focus{
    border-color: #05a;
    
}